{{ 'section-image-with-text-slider.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media only screen and (min-width: 749px){
    .section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="custom-page-width section-{{ section.id }} color-{{ section.settings.schema_color }}">
  <div class="section__wrapper">
    <div class="section__content">
      <h1>{{ section.settings.section_heading }}</h1>
      <span class="section__desc">{{ section.settings.section_description }}</span>
    </div>
    <div class="slider__container">
      <splide-slider id="{{ section.id }}" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            {% for block in section.blocks %}
              <li class="splide__slide">
                {% render 'slider-image-with-text', block: block %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="my-slider-progress">
          <span class="my-slider-progress-bar"></span>
        </div>
      </splide-slider>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text Slider",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "text",
      "label": "Section Heading",
      "id": "section_heading",
      "default": "LATEST COLLECTION"
    },
    {
      "type": "textarea",
      "label": "Section Description",
      "id": "section_description",
      "default": "Explore our seasonal collections and carefully chosen edits."
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "padding_top",
      "default": 72,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "padding_bottom",
      "default": 72,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "label": "Collection Name",
          "id": "collection_name",
          "info": "Example : Shirts, Jeans, T-Shirts etc.,"
        },
        {
          "type": "image_picker",
          "label": "Collection Image",
          "id": "collection_image",
          "info": "Add related images for the respective collective here !"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text Slider"
    }
  ]
}
{% endschema %}
